#box-model {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-top-color: #FF6347; /* Vermelho coral */
    border-right-color: #66CDAA; /* Verde aqua */
    border-bottom-color: #9370DB; /* Púrpura médio */
    border-left-color: #FFA500; /* Laranja */
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
}

#box-model h2.titulo {
    background-color: #6495ED;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 0;
    display: inline-block;
    line-height: 1;
    outline: 2px solid #333; 
}
