/* General */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

ul { list-style: none; }
a { text-decoration: none; }
/* End of general */

/* Navbar */
header nav { background-color: #333; }

#navbar {
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: .7rem;
    max-width: 1000px;
    align-items: center;
    justify-content: space-around;
}

#navbar a {
    transition: .4s;
    color: #F5F5F7;
}

#navbar a:hover {
    color: #FFF;
    cursor: pointer;
}

#bottom-header {
    padding: 1rem;
    font-size: .8rem;
    border-bottom: 1px solid #CCC;
}

#bottom-header h3 { font-size: 1.2rem; }
#bottom-header a { color: #333; }

#bottom-header-inner {
    display: flex;
    margin: 0 auto;
    max-width: 940px;
    align-items: center;
    justify-content: space-between;
}

#bottom-header-inner a { margin: 0 .5rem; }

#bottom-header-inner .btn, .btn {
    opacity: .8;
    color: #FFF;
    transition: .3s;
    padding: .4rem 1rem;
    border-radius: 10rem;
    background-color: #0071E3;
}

#bottom-header-inner .btn:hover, .btn:hover {
    opacity: 1;
    cursor: pointer;
}
/* End of navbar */

/* Main content */
#ribbon {
    padding: 1rem;
    color: #1D1D1D;
    font-size: .8rem;
    text-align: center;
    background-color: #F5F5F7;
}

#ribbon a {
    opacity: .8;
    color: #0071E3;
}

#ribbon a:hover { opacity: 1; }

#main-content {
    display: flex;
    color: #1D1D1D;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#main-content #title {
    margin: 1rem;
    font-size: 1.2rem;
}

#main-content #subtitle {
    margin: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

#main-content #description {
    max-width: 600px;
    font-size: 1.1rem;
    margin: 1rem auto;
    line-height: 1.5rem;
}

#main-content #price {
    margin: 2rem;
    color: #86868B;
    font-size: 1.3rem;
}

#main-content .btn {
    font-size: 1.1rem;
    align-self: center;
    padding: .8rem 1.4rem;
}

#main-content #product-image {
    opacity: 1;
    transition: .5s;
    margin: 3rem auto;
    max-width: 1000px;
}

#main-content #product-image.changing { opacity: .5; }

#image-picker ul {
    display: flex;
    justify-content: center;
}

#image-picker li {
    margin: 1rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
}

#image-picker li .color {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 1px 1px 1px;
    border: 4px solid #FFF;
}

#image-picker li .description {
    color: #1D1D1D;
    font-size: .7rem;
    margin-top: .6rem;
}

#green .color { background-color: #394C38; }
#silver .color { background-color: #F1F2ED; }
#golden .color { background-color: #FAE7CF; }
#graphite .color { background-color: #44524F; }
#blue .color { background-color: #A7D1C9; }

.selected { outline: 2px solid #43A1FF; }
/* End of main content */

/* Mobile */
@media (max-width: 480px) {
    #navbar li { display: none; }
    #navbar #logo { display: flex; }
    
    #bottom-header-links a { display: none; }
    #bottom-header-links .btn {display: flex; }

    #main-content {
        padding: 2rem;
        overflow: hidden;
    }

    #main-content #subtitle { font-size: 3rem; }
}

@media (max-width: 768px) {
    #navbar li { display: none; }
    #navbar #logo { display: flex; }

    #bottom-header-links a { display: none; }
    #bottom-header-links .btn {display: flex; }

    #main-content { overflow: hidden; }
}

@media (max-width: 1024px) {
    #navbar li { display: none; }
    #navbar #logo { display: flex; }

    #main-content { overflow: hidden; }
}
/* End of mobile */